/*
Arrow header animations
*/
.svg-arrow {
  -webkit-animation: pointingArrow 3s ease-in-out infinite;
          animation: pointingArrow 3s ease-in-out infinite;
}

.svg-circle {
  -webkit-animation: pointingCircle 3s ease-in-out 200ms infinite;
          animation: pointingCircle 3s ease-in-out 200ms infinite;
}

@-webkit-keyframes pointingCircle {
  0% {
    -webkit-transform: translate(36.811px, 0);
            transform: translate(36.811px, 0);
  }
  50% {
    -webkit-transform: translate(36.811px, 2em);
            transform: translate(36.811px, 2em);
  }
  100% {
    -webkit-transform: translate(36.811px, 0);
            transform: translate(36.811px, 0);
  }
}

@keyframes pointingCircle {
  0% {
    -webkit-transform: translate(36.811px, 0);
            transform: translate(36.811px, 0);
  }
  50% {
    -webkit-transform: translate(36.811px, 2em);
            transform: translate(36.811px, 2em);
  }
  100% {
    -webkit-transform: translate(36.811px, 0);
            transform: translate(36.811px, 0);
  }
}

@-webkit-keyframes pointingArrow {
  0% {
    -webkit-transform: translate(-897.189px, -965px);
            transform: translate(-897.189px, -965px);
  }
  50% {
    -webkit-transform: translate(-897.189px, calc(-965px + 2em));
            transform: translate(-897.189px, calc(-965px + 2em));
  }
  100% {
    -webkit-transform: translate(-897.189px, -965px);
            transform: translate(-897.189px, -965px);
  }
}

@keyframes pointingArrow {
  0% {
    -webkit-transform: translate(-897.189px, -965px);
            transform: translate(-897.189px, -965px);
  }
  50% {
    -webkit-transform: translate(-897.189px, calc(-965px + 2em));
            transform: translate(-897.189px, calc(-965px + 2em));
  }
  100% {
    -webkit-transform: translate(-897.189px, -965px);
            transform: translate(-897.189px, -965px);
  }
}

/*
Header Image animation
*/
#footleft {
  -webkit-animation: moveFoot 2s ease-in-out 200ms infinite;
          animation: moveFoot 2s ease-in-out 200ms infinite;
}

#body {
  -webkit-transform-origin: 30% 40%;
          transform-origin: 30% 40%;
  -webkit-animation: breathe 4s ease-in-out 400ms infinite;
          animation: breathe 4s ease-in-out 400ms infinite;
}

#neck {
  -webkit-animation: breathe-neck 4s ease-in-out 400ms infinite;
          animation: breathe-neck 4s ease-in-out 400ms infinite;
}

#head {
  -webkit-transform-origin: 25% 10%;
          transform-origin: 25% 10%;
  -webkit-animation: breathe-head 4s ease-in-out 400ms infinite;
          animation: breathe-head 4s ease-in-out 400ms infinite;
}

#armleft {
  -webkit-animation: breathe-arm-left 4s ease-in-out 400ms infinite;
          animation: breathe-arm-left 4s ease-in-out 400ms infinite;
}

#hand {
  -webkit-animation: breathe-hand 4s ease-in-out 400ms infinite;
          animation: breathe-hand 4s ease-in-out 400ms infinite;
}

#armright {
  -webkit-animation: breathe-arm-right 4s ease-in-out 400ms infinite;
          animation: breathe-arm-right 4s ease-in-out 400ms infinite;
}

#shadowman {
  -webkit-animation: breathe-head-shadow 4s ease-in-out 400ms infinite;
          animation: breathe-head-shadow 4s ease-in-out 400ms infinite;
}

@-webkit-keyframes breathe-arm-right {
  0% {
    -webkit-transform: translate(103.231px, 62.408px);
            transform: translate(103.231px, 62.408px);
  }
  20% {
    -webkit-transform: rotate(-0.5deg) translate(103.231px, 62.408px);
            transform: rotate(-0.5deg) translate(103.231px, 62.408px);
  }
  100% {
    -webkit-transform: translate(103.231px, 62.408px);
            transform: translate(103.231px, 62.408px);
  }
}

@keyframes breathe-arm-right {
  0% {
    -webkit-transform: translate(103.231px, 62.408px);
            transform: translate(103.231px, 62.408px);
  }
  20% {
    -webkit-transform: rotate(-0.5deg) translate(103.231px, 62.408px);
            transform: rotate(-0.5deg) translate(103.231px, 62.408px);
  }
  100% {
    -webkit-transform: translate(103.231px, 62.408px);
            transform: translate(103.231px, 62.408px);
  }
}

@-webkit-keyframes breathe-hand {
  0% {
    -webkit-transform: translate(-342.906px, 64.204px);
            transform: translate(-342.906px, 64.204px);
  }
  20% {
    -webkit-transform: rotate(-0.5deg) translate(-342.906px, 64.204px);
            transform: rotate(-0.5deg) translate(-342.906px, 64.204px);
  }
  100% {
    -webkit-transform: translate(-342.906px, 64.204px);
            transform: translate(-342.906px, 64.204px);
  }
}

@keyframes breathe-hand {
  0% {
    -webkit-transform: translate(-342.906px, 64.204px);
            transform: translate(-342.906px, 64.204px);
  }
  20% {
    -webkit-transform: rotate(-0.5deg) translate(-342.906px, 64.204px);
            transform: rotate(-0.5deg) translate(-342.906px, 64.204px);
  }
  100% {
    -webkit-transform: translate(-342.906px, 64.204px);
            transform: translate(-342.906px, 64.204px);
  }
}

@-webkit-keyframes breathe-arm-left {
  0% {
    -webkit-transform: translate(174.924px, 71.762px);
            transform: translate(174.924px, 71.762px);
  }
  20% {
    -webkit-transform: rotate(-1deg) translate(171.924px, 71.762px);
            transform: rotate(-1deg) translate(171.924px, 71.762px);
  }
  100% {
    -webkit-transform: translate(174.924px, 71.762px);
            transform: translate(174.924px, 71.762px);
  }
}

@keyframes breathe-arm-left {
  0% {
    -webkit-transform: translate(174.924px, 71.762px);
            transform: translate(174.924px, 71.762px);
  }
  20% {
    -webkit-transform: rotate(-1deg) translate(171.924px, 71.762px);
            transform: rotate(-1deg) translate(171.924px, 71.762px);
  }
  100% {
    -webkit-transform: translate(174.924px, 71.762px);
            transform: translate(174.924px, 71.762px);
  }
}

@-webkit-keyframes breathe-neck {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes breathe-neck {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes breathe-head {
  0% {
    -webkit-transform: rotate(0) translateY(0px);
            transform: rotate(0) translateY(0px);
  }
  30% {
    -webkit-transform: rotate(-3deg) translateY(-2px);
            transform: rotate(-3deg) translateY(-2px);
  }
  40% {
    -webkit-transform: rotate(3deg) translateY(-2px);
            transform: rotate(3deg) translateY(-2px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translateY(-1px);
            transform: rotate(-2deg) translateY(-1px);
  }
  60% {
    -webkit-transform: rotate(2deg) translateY(-1px);
            transform: rotate(2deg) translateY(-1px);
  }
  70% {
    -webkit-transform: rotate(-3deg) translateY(-1px);
            transform: rotate(-3deg) translateY(-1px);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0px);
            transform: rotate(0) translateY(0px);
  }
}

@keyframes breathe-head {
  0% {
    -webkit-transform: rotate(0) translateY(0px);
            transform: rotate(0) translateY(0px);
  }
  30% {
    -webkit-transform: rotate(-3deg) translateY(-2px);
            transform: rotate(-3deg) translateY(-2px);
  }
  40% {
    -webkit-transform: rotate(3deg) translateY(-2px);
            transform: rotate(3deg) translateY(-2px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translateY(-1px);
            transform: rotate(-2deg) translateY(-1px);
  }
  60% {
    -webkit-transform: rotate(2deg) translateY(-1px);
            transform: rotate(2deg) translateY(-1px);
  }
  70% {
    -webkit-transform: rotate(-3deg) translateY(-1px);
            transform: rotate(-3deg) translateY(-1px);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0px);
            transform: rotate(0) translateY(0px);
  }
}

@-webkit-keyframes breathe-head-shadow {
  0% {
    -webkit-transform: translate(-181.255px, 98.807px);
            transform: translate(-181.255px, 98.807px);
  }
  30% {
    -webkit-transform: translate(-184.255px, 98.807px);
            transform: translate(-184.255px, 98.807px);
  }
  40% {
    -webkit-transform: translate(-178.255px, 98.807px);
            transform: translate(-178.255px, 98.807px);
  }
  50% {
    -webkit-transform: translate(-183.255px, 98.807px);
            transform: translate(-183.255px, 98.807px);
  }
  60% {
    -webkit-transform: translate(-179.255px, 98.807px);
            transform: translate(-179.255px, 98.807px);
  }
  70% {
    -webkit-transform: translate(-184.255px, 98.807px);
            transform: translate(-184.255px, 98.807px);
  }
  100% {
    -webkit-transform: translate(-181.255px, 98.807px);
            transform: translate(-181.255px, 98.807px);
  }
}

@keyframes breathe-head-shadow {
  0% {
    -webkit-transform: translate(-181.255px, 98.807px);
            transform: translate(-181.255px, 98.807px);
  }
  30% {
    -webkit-transform: translate(-184.255px, 98.807px);
            transform: translate(-184.255px, 98.807px);
  }
  40% {
    -webkit-transform: translate(-178.255px, 98.807px);
            transform: translate(-178.255px, 98.807px);
  }
  50% {
    -webkit-transform: translate(-183.255px, 98.807px);
            transform: translate(-183.255px, 98.807px);
  }
  60% {
    -webkit-transform: translate(-179.255px, 98.807px);
            transform: translate(-179.255px, 98.807px);
  }
  70% {
    -webkit-transform: translate(-184.255px, 98.807px);
            transform: translate(-184.255px, 98.807px);
  }
  100% {
    -webkit-transform: translate(-181.255px, 98.807px);
            transform: translate(-181.255px, 98.807px);
  }
}

@-webkit-keyframes breathe {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes breathe {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes moveFoot {
  0% {
    -webkit-transform: translate(0px, -1.51px) rotate(0deg);
            transform: translate(0px, -1.51px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(0px, -1.51px) rotate(7deg);
            transform: translate(0px, -1.51px) rotate(7deg);
  }
  100% {
    -webkit-transform: translate(0px, -1.51px) rotate(0deg);
            transform: translate(0px, -1.51px) rotate(0deg);
  }
}

@keyframes moveFoot {
  0% {
    -webkit-transform: translate(0px, -1.51px) rotate(0deg);
            transform: translate(0px, -1.51px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(0px, -1.51px) rotate(7deg);
            transform: translate(0px, -1.51px) rotate(7deg);
  }
  100% {
    -webkit-transform: translate(0px, -1.51px) rotate(0deg);
            transform: translate(0px, -1.51px) rotate(0deg);
  }
}
/*# sourceMappingURL=animation.css.map */