@font-face {
  font-family: 'Comforta';
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  /* IE9 Compat Modes */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Comforta';
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6em;
  height: 6em;
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

nav {
  height: 100%;
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav ul a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  padding: 0 2em;
  height: 100%;
  text-decoration: none;
  color: black;
}

nav ul a:hover:before, nav ul a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav ul a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #64b3f4;
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

main {
  position: relative;
}

main img.mainBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

main section.top {
  background: transparent;
  padding: 3em 3em;
  max-width: 1000px;
  margin: auto;
  color: white;
}

main section.top h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4vw;
  color: white;
  mix-blend-mode: screen;
}

main section.top h1 .lineWrap::first-letter {
  position: relative;
  background: white;
  color: black;
  padding: 0 0.3em;
  mix-blend-mode: multiply;
}

main section.top h1 .lineWrap:nth-of-type(1) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main section.top h1 .lineWrap:nth-of-type(2) {
  -webkit-transform: translateX(0.8em);
          transform: translateX(0.8em);
}

main section.top h1 .lineWrap:nth-of-type(3) {
  -webkit-transform: translateX(1.6em);
          transform: translateX(1.6em);
}

main section.top h1 .lineWrap:nth-of-type(4) {
  -webkit-transform: translateX(2.4em);
          transform: translateX(2.4em);
}

main section.top h1 .smallText {
  font-size: 0.6em;
}

main section.top sub {
  font-size: 1.2vw;
}

main section.mission {
  margin-top: 10em;
  margin-bottom: 10em;
  padding: 5em 3em;
  background-color: white;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

main section.mission h2 {
  text-align: center;
  padding-bottom: 2em;
}

main section.mission p {
  width: 60vw;
  text-align: center;
  margin: auto;
}

main section.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
  padding: 5em 3em;
}

main section.about div {
  position: relative;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section.about div p {
  padding: 2em;
  width: 50%;
}

main section.about div img {
  padding: 2em;
  width: 50%;
}

main section.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
  padding: 5em 3em;
}

main section.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
}

input[type=text], select, textarea {
  font-family: 'Comforta';
  width: 100%;
  padding: 1em 1em;
  margin: 1em 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-family: 'Comforta';
  width: 100%;
  background-color: #64b3f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3em;
  -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.lineWrap {
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */